<h2 id="title">Welcome to Ember.js</h2>

{{#link-to 'foo'}}foo{{/link-to}}
{{#link-to 'bar'}}bar{{/link-to}}

<br>
<br>
<br>
<br>
<br>
<br>

{{#link-to 'alpha'}}alpha{{/link-to}}
{{#link-to 'beta'}}beta{{/link-to}}
{{#link-to 'gamma'}}gamma{{/link-to}}

{{liquid-outlet}}
